$font-size-base: 0.95rem;
$web-font-path: 'typeface-roboto/index.css';
@import '~bootswatch/dist/materia/_variables.scss';

@import "~bootstrap/scss/bootstrap";
@import '~bootswatch/dist/materia/_bootswatch.scss';

body {
  background-color: #e2e2e2;
}

.white {
  background-color: #fff;
}

.center {
  text-align: center;
}

.faq {
  margin-top: 3em;
}

.progress {
  margin-bottom: 0px;
}

.jumbotron p {
  margin-bottom: 0;
}

